div.topmatter {
    margin-top: 6px;
    background-color:LightBlue;
}

div.nav_bar {
    font-size: 80%;
    background-color:LightGrey;
}

div.contents {
    margin-right: 12px;
    margin-left: 12px;
}

div.footer {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

body.helpscreen {
    margin-right: 6px;
    margin-left: 6px;
    background-color:LightBlue;
}

