div.topmatter {
    margin-top: 6px;
    background-color:LightBlue;
}

div.nav_bar {
    font-size: 80%;
    background-color:PaleGreen;
}

div.contents {
    margin-right: 12px;
    margin-left: 12px;
}

div.footer {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

body.helpscreen {
    margin-right: 6px;
    margin-left: 6px;
    background-color:LightBlue;
}

.tooltip {
    position: relative;
    display: inline-block;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: LightBlue;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    top: 100%;
    left: 50%;
    margin-left: 0px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

