
<h3>Help: Bill Search Form</h3>

<p>Use this form to submit searches for bills.</p>

<p>Choose either House or Senate, and enter the bill number you wish to import. When you click Search,
    LegUp will attempt to scrape data about the bill title, sponsors, and votes from the legislature's
    web site.
</p>

<p>Once that data has been imported and saved, it is available to browse in LegUp or for use in a Report Card.
</p>
