
<h3>Help: View Report Cards</h3>

<p>This page shows the Report Cards that have been created in LegUp.</p>

<p>To run the a Report Card and show the calculated grades of each legislator,
click on "Calculate". To change the configuration of a Report Card (add a new
bill, remove a bill, change the desired vote on a bill) click on "Edit".</p>

<p>To create a new Report Card, click "New".</p>