<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <title>LegUp</title>
    <link rel="stylesheet" type="text/css" href="/legup/css/base.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/legup/css/tablesorter/blue/style.css">
    <script src="/legup/js/jquery-3.3.1.js"></script>
    <script src="/legup/js/jquery.tablesorter.js"></script>
    <script src="/legup/js/legup.js"></script>
</head>
<body>

<div class="topmatter">
    &nbsp;&nbsp;<b><a href="/legup">LegUp</a></b>
</div>

<div class="nav_bar_2">
    <span>&nbsp;</span>
    <span>
        #foreach ($link in $topmatter.links)
            <a href="$link.href">$link.text</a>
            &nbsp;
        #end
    </span>
    #if ( $topmatter.helpLink )
        <span style="float:right;"><a onclick="Legup.helpWindow('$topmatter.helpLink')" href="#">Help</a>&nbsp;&nbsp;</span>
    #end
</div>

<div class="contents">

    #parse( "$contents" )

</div>

</body>
</html>