<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LegUp</title>
</head>
<body>

<div>
    <a href="/">LegUp</a>
</div>

<div>

    #parse( "$contents" )

</div>

</body>
</html>