<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LegUp</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>

<div>
    <a href="/">LegUp</a>
</div>

<div class="contents">

    #parse( "$contents" )

</div>

</body>
</html>