<div class="nav_bar">
    <span>
        #foreach ($link in $links)
            $link
            &nbsp;
        #end
    </span>
    #if ( $helpLink )
        <span style="float:right;"><a onclick="Legup.helpWindow('$helpLink')" href="#">Help</a>&nbsp;&nbsp;</span>
    #end
</div>