<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LegUp</title>
</head>
<body>

    <h3>Load Bill Form</h3>

    <form action="/app/load_bill" method="post">
        <h3>Load Bill Form</h3>

        <p>Use this form to upload members.</p>

        <label>URL of Bill Votes PDF</label>
        <input type="text" name="url" value="http://www.ilga.gov/legislation/votehistory/100/senate/10000SB0001_05172017_009000T.pdf"/>

        <br/>

        <input type="submit" value="Load Bill"/>
    </form>


</body>
</html>