
<form action="/app/view_parsed_legislators" method="post">
    <h3>Member Load Form</h3>

    <p>Use this form to search for legislators and add them to the DB.</p>

    <label>URL of listing</label>
    <input size="80" type="text" name="url" value="http://www.ilga.gov/house/default.asp"/>

    <br/>

    <input type="submit" value="Load Members"/>
</form>
