<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LegUp</title>
</head>
<body>

    <h3>Member Review Table</h3>

    <form action="/app/save_members">

    <input type="hidden" name="session_number" value="$session_number"/>
    <input type="hidden" name="assembly" value="$assembly"/>
    <input type="hidden" name="url" value="$url"/>

    <table>

    #foreach( $legislator in $legislators )
        <tr>
            <td>$legislator.FirstName</td>
            <td>$legislator.LastName</td>
            <td>$legislator.Party</td>
            <td>$legislator.District</td>
        </tr>
    #end

    </table>

    <input type="submit" value="Save"/>

    </form>

</body>
</html>