
<h3>Member Review Table</h3>

<form action="/app/save_members">

<input type="hidden" name="url" value="$url"/>

<input type="submit" value="Save"/>

<table>

#foreach( $legislator in $legislators )
    <tr>
        <td>$legislator.FirstName</td>
        <td>$legislator.LastName</td>
        <td>$legislator.Chamber</td>
        <td>$legislator.District</td>
        <td>$legislator.Party</td>
    </tr>
#end

</table>

<input type="submit" value="Save"/>

</form>
