
<h4>$reportCardName: Bill Index</h4>

<br/>

#foreach ($bill in $bills)
    $bill.Chamber - $bill.Number - <a href="/legup/view_report_card_bill?bill_id=$bill.Id&one_time_key=$oneTimeKey">$bill.shortDescription</a>
    <br/>
#end