<h4>View Bill Votes</h4>

Votes of $legislator.FirstName $legislator.LastName

<br/>
<br/>

<table>

<tr>
    <th>Chamber</th>
    <th>Bill Number</th>
    <th>Vote</th>
</tr>

#foreach ($vote in $votes)
    <tr>
        <td>$vote.Bill.Chamber</td>
        <td>$vote.Bill.Number</td>
        <td>$vote.VoteSide.Code</td>
    </tr>
#end

</table>