
<h4>View Report Card Bill</h4>

<h5>$reportCardGrades.ReportCardName - $reportCardBillAnalysis.Bill.ShortDescription ($reportCardBillAnalysis.Bill.Number)</h5>

#set( $desiredOutcome = $reportCardBillAnalysis.DesiredOutcome.DisplayString)

<h5>Desired Outcome: $desiredOutcome</h5>

<br/>
