<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LegUp</title>
</head>
<body>

    <h3>Member View</h3>

    <table>

    #foreach( $legislator in $legislators )
        <tr>
            <td>$legislator.Person.FirstName</td>
            <td>$legislator.Person.LastName</td>
            <td>$legislator.Party</td>
            <td>$legislator.District</td>
        </tr>
    #end

    </table>

</body>
</html>