<h4>View Bill Votes</h4>

Chamber: $bill.Chamber

<br/>

Number: $bill.Number

<br/>

Description: $bill.ShortDescription

<br/>
<br/>

<table>

#foreach ($vote in $votes)
    <tr>
        <td>$vote.Legislator.FirstName</td>
        <td>$vote.Legislator.LastName</td>
        <td>$vote.VoteSide.Code</td>
    </tr>
#end

</table>