

<h3>Load Bill Form</h3>

<form action="/app/load_bill" method="post">

    <p>Use this form to select a bill for vote parsing.</p>

    <label>URL of Bill Votes PDF</label>

    <!--
    http://www.ilga.gov/legislation/votehistory/100/house/10000HB2771_04272017_028000T.pdf
    http://www.ilga.gov/legislation/votehistory/100/senate/10000SB0001_05172017_009000T.pdf
    -->

    <input size="80" type="text" name="url" value="http://www.ilga.gov/legislation/votehistory/100/house/10000HB2771_04272017_028000T.pdf"/>

    <br/>

    <input type="submit" value="Load Bill"/>
</form>


