
<h4>Bill Search Form</h4>

<form action="/legup/view_bill_search_results" id="bill_search_form">

    <label>Chamber</label>
    <select name="chamber" form_id="bill_search_form">
        <option>House</option>
        <option>Senate</option>
    </select>

    <br/>

    <label>Number</label>
    <input name="number"/>

    <br/>

    <input type="submit" value="Search"/>

</form>
