
<h3>Member View</h3>

<table>

#foreach( $legislator in $legislators )
    <tr>
        <td>$legislator.FirstName</td>
        <td>$legislator.LastName</td>
        <td>$legislator.Party</td>
        <td>$legislator.District</td>
    </tr>
#end

</table>
